CIFAR10/best_cifar10_params.pt
CIFAR10/best_cifar10_regression_params.pt
CIFAR10/cifar10_regression_params.pt
credentials.json
token.json
finance-calendar-backend/node_modules
finance-calendar-frontend/node_modules
finance-calendar-backend/.env
.DS_Store
